/* Copyright © 2016 -- 2020 www.vru.ro - All Rights Reserved The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF // MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/* 
a{background-color:transparent}a:active,a:hover{outline-width:0}
.active {background-color: #4CAF50;color: white;}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html,body{font-family:DejaVuSans,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.vru-serif{font-family:DejaVuSans}
h1,h2,h3,h4,h5,h6{font-family: DejaVuSans,Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
a{color:inherit}
.vru-hoverable tbody tr:hover,.vru-ul.vru-hoverable li:hover{background-color:#ccc; cursor:pointer;}
.vru-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;white-space:nowrap}
.vru-button:disabled{cursor:not-allowed;opacity:0.3}
.vru-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.vru-ul{list-style-type:none;padding:0;margin:0}
.vru-ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.vru-ul li:last-child{border-bottom:none}
.vru-sidebar{height:100%;width:100px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.vru-bar-block .vru-dropdown-hover,.vru-bar-block .vru-dropdown-click{width:100%}
.vru-bar-block .vru-dropdown-hover .vru-dropdown-content,.vru-bar-block .vru-dropdown-click .vru-dropdown-content{min-width:100%}
.vru-bar-block .vru-dropdown-hover .vru-button,.vru-bar-block .vru-dropdown-click .vru-button{width:100%;text-align:left;padding:8px 16px}
.vru-main,#main{transition:margin-left .4s}
.vru-center .vru-bar{display:inline-block;width:auto}
.vru-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;font-family:DejaVuSans; font-size: 20px;}
.vru-button{white-space:normal}
.vru-bar-block .vru-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.vru-bar-block .vru-center .vru-bar-item{text-align:center}
.vru-container:after,.vru-container:before,.vru-panel:after,.vru-panel:before,.vru-row:after,.vru-row:before,.vru-row-padding:after,.vru-row-padding:before,.vru-cell-row:before,.vru-cell-row:after,.vru-clear:after,.vru-clear:before,.vru-bar:before,.vru-bar:after{content:"";display:table;clear:both}
.vru-third{float:left;width:100%;}
.vru-quarter{float:left;width:100%;margin-left:3%;margin-right:10px}
.vru-content{margin-left:auto;margin-right:auto}
.vru-content{max-width:980px}
@media (min-width:601px){.vru-quarter{width:225px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}.vru-third{width:33.3%}}
.vru-top{position:fixed;width:100%;z-index:1}
.vru-top{top:0}
.vru-row-padding,.vru-row-padding>.vru-half,.vru-row-padding>.vru-third,.vru-row-padding>.vru-twothird,.vru-row-padding>.vru-threequarter,.vru-row-padding>.vru-quarter,.vru-row-padding>.vru-col{padding:0 8px}
.vru-container{padding:0.01em 16px}
.vru-card,.vru-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.vru-card-4:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.vru-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.vru-large{font-size:18px!important}
.vru-xlarge{font-size:24px!important}
.vru-right-align{text-align:right!important}
.vru-center{text-align:center!important}
.vru-margin-bottom{margin-bottom:16px!important}
.vru-margin-right{margin-right:16px!important}
.vru-padding-small{padding:4px 8px!important}
.vru-padding{padding:8px 16px!important}
.vru-padding-large{padding:12px 24px!important}
.vru-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.vru-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.vru-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.vru-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.vru-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.vru-left{float:left!important}
.vru-right{float:right!important}
.vru-button:hover{color:#6600ff!important;background-color:#ffffff!important}
.vru-white,.vru-hover-white:hover{color:#000!important;background-color:#fff!important}
.vru-black,.vru-hover-black:hover{color:#6600ff!important;background-color:#ffffff!important}
.vru-dark-grey {color:#fff!important;background-color:#616161!important}
.price {width:100%;list-style-type: none;border: 1px solid #eee;margin: 0;padding: 0;-webkit-transition: 0.3s;transition: 0.3s;}.price:hover {box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)}.price .header {background-color: #5A2653;color: white;font-size: 25px;}.price li {border-bottom: 1px solid #ffffea;padding: 20px;text-align: center;}.price .grey {background-color: #ffffea;font-size: 20px;}
.header {height:90px;width:100%;background-color: #5A2653;color: white;font-size: 25px;}
.grey {background-color: #ffffea;font-size: 20px;}
.button {background-color: #4CAF50;border: none;color: white;padding: 10px 25px;text-align: center;text-decoration: none;font-size: 18px;}
a {text-decoration: none;display: inline-block;padding: 8px 16px;}
a:hover {background-color: #99e699;color: black;}
.anterior {background-color: #ffffff;color: black; font-size: 19px;}
.urmator {background-color: #ffffff;color: black; font-size: 19px;}
.format {border-radius: 90%;}
.content-link-active {color: Green;font-weight: bold;}
.imaged {display:block;}
.imagem {display:none}
@media all and (max-width: 499px) { .imaged {display: none;}.imagem {display: block;}}
.vru-sub-menu {position: relative;display: inline-block;font-family:"DejaVuSans";min-width: 350px;}
.vru-sub-menu-content {display: none;position: absolute;background-color: #f1f1f1;min-width: 350px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.vru-sub-menu-content a {color: black;padding: 9px 9px;text-decoration: none;display: block;font-size: 15px;}
.vru-sub-menu-content a:hover {background-color: #ffcc00}
.show {display:block;} 
table, th, td {border: 1px solid black;border-collapse: collapse;padding: 1px;text-align:center;}
table {width: 80%;}
highlight {border: 1px solid black;border-collapse: collapse;padding: 1px;text-align:left;}
span.lineno { background-color: #ffffea; padding: 0 5px 0 5px; }pre { line-height: 125%; }body .c { color: red; font-style: italic }body .err { border: 1px solid #FF0000 }body .k { color: #ffa366; font-weight: bold }body .o { color: #666666 } body .ch { color: red; font-style: italic }body .cm { color: red; font-style: italic } body .cp { color: red }body .cpf { color: red; font-style: italic } body .c1 { color: red; font-style: italic } body .cs { color: red; font-weight: bold } body .gd { color: #A00000 } body .ge { font-style: italic } body .gr { color: #FF0000 } body .gh { color: #000080; font-weight: bold } body .gi { color: #0000ff } body .go { color: #888888 } body .gp { color: #000080; font-weight: bold } body .gs { font-weight: bold } body .gu { color: #800080; font-weight: bold } body .gt { color: #0044DD } body .kc { color: #8e00e6; font-weight: bold } body .kd { color: #8e00e6; font-weight: bold } body .kn { color: #8e00e6; font-weight: bold } body .kp { color: #8e00e6 } body .kr { color: #8e00e6; font-weight: bold } body .kt { color: #00BB00; font-weight: bold } body .m { color: #666666 } body .s { color: #29a329 } body .na { color: #29a329 } body .nb { color: #8e00e6 } body .nc { color: #0000FF } body .no { color: #880000 }body .nd { color: #8e00e6 }body .ni { color: #999999; font-weight: bold }body .ne { color: #D2413A; font-weight: bold }body .nf { color: #0000ff }body .nl { color: #A0A000 }body .nn { color: #0000FF; font-weight: bold }body .nt { color: #008000; font-weight: bold }body .nv { color: #B8860B }body .ow { color: #8e00e6; font-weight: bold }body .w { color: #bbbbbb }body .mb { color: #666666 }body .mf { color: #666666 }body .mh { color: #666666 }body .mi { color: #666666 }body .mo { color: #666666 }body .sa { color: #29a329 }body .sb { color: #29a329 }body .sc { color: #29a329 }body .dl { color: #29a329 }body .sd { color: #29a329; font-style: italic }body .s2 { color: #29a329 }body .se { color: #BB6622; font-weight: bold }body .sh { color: #29a329 }body .si { color: #BB6688; font-weight: bold }body .sx { color: #008000 }body .sr { color: #BB6688 }body .s1 { color: #29a329 }body .ss { color: #B8860B }body .bp { color: #8e00e6 }body .fm { color: #0000ff }body .vc { color: #B8860B }body .vg { color: #B8860B }body .vi { color: #B8860B }body .vm { color: #B8860B }body .il { color: #666666 }
